* {
    margin: 0;
    padding: 0;
    font-family: 'Robot', sans-serif;
    text-decoration: none;
    list-style: none;
}

body{
background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(images/1.jpg);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
background-position: center;
background-color: #000;
}




#container01  {
    width: 100%;
    height: 100vh;
   /* background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/1.jpg); */
    background-position: center;
    background-size: cover;
    padding-left: 4%;
    padding-right: 4%;
    box-sizing: border-box;
    background-attachment: fixed;
}

.navbar01 {
    height: 12%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.logo01 {
    cursor: pointer;
    width: 125px;
    height: 125px;
    /* border: red 5px solid; */
}


#menu01 {
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
    display: none;
}


#nav-01 {
    flex: 1;
    text-align: right;

}

#nav-01 ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;

}

#nav-01 ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;

}


#row01 {
    display: flex;
    height: 88%;
    align-items: center;
    flex-wrap: wrap;
}

#col01 {
    flex-basis: 50%;
    flex-wrap: wrap;
}

#n101{
    color: #fff;
    font-size: 90px;
    text-shadow: 1px 1px #000;

}

#n012{
    color: #fff;
    font-size: 20px;
    line-height: 22px;
    font-style: italic;
    text-align: center;
}

#btn01{
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: white;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
    transition: transform 0.5;

}

#btn01:hover {
    transform: translateX(10px);
}


#cardhome {
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5;

}

.card1 {
    background-image: url(images/8.jpg);
   
}

.card2 {
    background-image: url(images/9.jpg);
   
}

.card3 {
    background-image: url(images/10.jpg);
    
}

.card4 {
    background-image: url(images/12.jpg);
   
}


#cardhome:hover {
    
    transform: translatey(10px);
    

}

#cardhome h5{
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px #fff;
    font-size: 20px;
    font-weight: bold;
    

    
}

#cardhome p {
    text-shadow: 1px 1px #fff;
    font-size: 10px;
    color: rgb(0, 0, 0);

}


/*login page*/


#logbox01 {
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    padding: 5px;
    border-radius: 30px;
    overflow: hidden;
}

#logbox01 > .button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

#toglebtn01{
    color: #fff;
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn02 {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    transition: .5s;
}

#sicons {
    margin: 30px auto;
    text-align: center;
}

#sicons img {
    width: 30px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 50%;
}


/*login*/


#login01 {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

#login01 > .input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

#login01 > .submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}

#login01 >.chech-box {
    margin: 30px 10px 30px 0;
}

/*registor*/

#register01 {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

#register01 > .input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

#register01 > .submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}

#register01 >.chech-box {
    margin: 30px 10px 30px 0;
}



#spn01 {
    color: #777;
    font-size: 12px;
    bottom: 63px;
    position: absolute;
}

#login01 {
    left: 50px;
}
#register01 {
    left: 450px;
}
#textcolor1{
    color: #fff;
}





/*menu*/

div#head02{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
}

div#head02 h1{
    font-size: 40px;
    color: #fff;
    margin-bottom: 10px;

}

ul#menu02{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

ul#menu02 li.button{
    background: #ffffff;
    margin: 10px;
    border-radius: 20px;
    transition: 0.3s;
}

ul#menu02 li.button.active{
    background: #777;
}

ul#menu02 li.button.active a{
    color: #fff;
}

ul#menu02 li.button a{
    color: #30455e;
    padding: 5px 20px;
    display: inline-block;
    transition: 0.3s;
}

ul#menu02 li.button a:hover{
    color: #30455e;
}

ul#menu02 li.button:hover{
    background-color: #d37d1b;
}

/*catagaries*/

#crdbox02{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#cardmenu01{
    background-color: #ffad06;
    width: 20%;
    height: 100%;
    border-radius: 20px;
    margin: 10px 20px;
    position: relative;

}

#cardmenu01::before{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.5s;
    border-radius: 20px;
    cursor: pointer;
    content: "";
}

#cardmenu01:hover:before{
    background-color: rgba(48, 71, 94, 0.5);
}

#crdimg{
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
}

#crdimg img{
    width: 100%;
    height: 150px;
    object-fit: cover;

}

#txdesk{
    padding: 12px;
}

#txdesk h3{
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}

#txdesk h4{
    color: #fff;
    font-weight: 400;
    font-size: 14px;
}

#btn05{
    position: absolute;
    width: 100%;
    height: 0px;
    bottom: 0px;
    background-color: #fff;
    border-radius: 0px 0px 20px 20px;
    font-size: 0px;
    transition: 0.5s;
    display:flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 0px;
    font-weight: 700;


}

#cardmenu01:hover #btn05{
    font-size: 30px;
    height: 90px;
}



div#loadmore01{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;


}

#loadmore{
    background-color: #30455e;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    margin: 30px auto;
}


/*more*/


#more01 > h1{

   
    font-size: 50px;
    padding-top: 100px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px black;
    font-weight: bold;
}

#more01 > p{
    color: #fff;
    font-size: 24px;
    text-align: center;
    padding-top: 20px;
    text-shadow: 2px 2px black;
    padding-top: 50px;
}

#ref{
    font-size: 18px;
    text-align: center;
    text-shadow: 2px 2px black;
    
}


#hr01{
    display: block;
    margin-top: 500px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 3px;
    border-color: red;
}


/*ABOUT US*/


#abtus > h1 { 
    color: #fff;
    font-size: 35px;
    text-align: center;
    text-shadow: 2px 2px black;
    padding-top: 100px;
    padding-bottom: 100px;

}

#team02{
    display: flex;
    text-align: center;
    width: auto;
    flex-wrap: wrap;
    justify-content: center;
}

#team02 .team-member{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    margin: 5px;
    margin-bottom: 50px;
    width: 200px;
    padding: 20px;
    line-height: 20px;
    position: relative;
    color: #fff;
}

#team02 .team-member h3{
    color: #fff;
    font-size: 20px;
    margin-top: 50px;
    font-weight: lighter;
}

#team02 .team-member p.role{
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    margin: 12px 0;


}

#team02 .team-member .team-img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: absolute;
    top: -50px;
    left: 20px;
    transform: translatex(50%);

    background: #fff;

}

#team02 .team-member .team-img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


/*pizza 01*/

#pizza01 > h1{

   
    font-size: 50px;
    padding-top: 100px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px black;
    font-weight: bold;

}

#pizza01 > h3{

   
    font-size: 30px;
    padding-top: 50px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px black;
    font-weight: bold;
    text-decoration: underline;

}

#pizza01 > p{
    color: #fff;
    font-size: 30px;
    text-align: center;
    text-shadow: 2px 2px black;
    padding-top: 50px;
}

#pizza01 > ol li{
    color: #fff;
    font-size: 24px;
    text-align: center;
    text-shadow: 2px 2px black;
    list-style: circle;
}

#pizza01 > p img{
  border-radius: 20px;
  width: 500px;
  height: 350px;
  flex-wrap: wrap;
  object-fit: cover;
  

}

#pizza01 > ul li{
    color: #fff;
    font-size: 24px;
    text-align: left;
    text-shadow: 2px 2px black;
    list-style: circle;
    
    
}
































@media(max-width:700px){



    #nav-01 ul li {
    display: block;
    }

    #nav-01{
    position: absolute;
    top: 1vh;
    right: 5vh;
    text-align: center;
    }
}